<div class="container">
  <div class="col-xs-auto">
    <input type="checkbox"
           class="form-check-input"
           id="withLyricsCheckbox"
           (change)="withLyricsCheckboxChanged()"
           #withLyricsCheckbox
           checked>
    <label for="withLyricsCheckbox">Search with lyrics suffix</label>
    <input type="text"
           ng-pattern="/^[a-zA-Z]*$/"
           class="form-control"
           #searchBar
           (keyup.enter)="onEnter()">
    <br>
    <nav role="button"
         *ngFor="let title of youtubeService.titles; let i = index"
         (click)="onBreadCrumbClick(i)"
         aria-label="breadcrumb">
      <ol class="breadcrumb">
        <div class="col-xs-auto">
          <span class="media-left">
            <img height="70px"
                 width="70px"
                 src="{{youtubeService.images[i]}}">
          </span>
          <div class="media-body row text-center">
            <li class="breadcrumb-item active"
                aria-current="page">{{title}}</li>
            <li class="breadcrumb-item active"
                aria-current="page">{{youtubeService.durations[i] | minuteSeconds}}</li>
          </div>
        </div>
      </ol>
    </nav>
  </div>
</div>